
{% load static %}

<header class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <span class="sr-only">Ferremas</span>
                <img src="{% static 'img/logo.png' %}" alt="Logo" class="d-inline-block align-text-top" height="32">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% for item in navigation %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ item.route }}">{{ item.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="d-flex">
                    <a href="#" class="btn btn-outline-dark">Log in <span aria-hidden="true">&rarr;</span></a>
                </div>
            </div>
        </div>
    </nav>
</header>
